<form method="post" action="/cart" class="container flex flex-col lg:flex-row space-y-16 lg:space-y-0 lg:space-x-16">
    <div class="space-y-8 w-full lg:w-8/12">
      {% for item in cart.items %}
        <div class="shadow flex py-4 relative">
          <img
            src="{{ item.image | img_url: '208x208' }}"
            alt="{{ item.title }}"
            height="208"
            width="208"
            class="h-52 w-52 object-contain"
            loading="lazy"
          />
          <div class="pl-4 flex flex-col justify-center">
            <h2 class="heading-4">{{ item.title }} ( {{ item.quantity }} )</h2>
            <h3>{{ item.product.collections[0].title }}</h3>
            <span class="block mt-6">
              {{ item.final_price | money }} x {{ item.quantity }}
            </span>
            <div>
              <span class="font-bold">
                Total:
              </span>
              <span>
                {{ item.final_line_price | money }}
              </span>
            </div>
          </div>
          <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="block absolute h-5 w-5 top-0 right-0 mt-6 mr-6">
            {% render 'icon-close' %}
          </a>
        </div>
      {% endfor %}
    </div>
    {% render 'component-subtotal' %}
</form>