{% comment %}
    Renders a section with a product image, title, description and a buy
    button. Must be rendered in a product page.
{% endcomment %}

<section class="container">
    <div class="flex flex-col md:flex-row">
      <a href="{{ product.featured_image.src | img_url: '1080x1080' }}" class="h-144 w-144 block flex-grow flex-shrink-0">
        <img
          src="{{ product.featured_image.src | img_url: '800x800' }}"
          alt="{{ product.title }}"
          height="360"
          width="360"
          class="h-full w-full"
        />
      </a>
      <div class="flex flex-col justify-center items-start">
        <h1 class="heading-3 mb-4">{{ product.title }}</h1>
        <div class="w-full lg:w-9/12">
            {{ product.content }}
        </div>
  
        <form action="/cart/add" method="post">
          <input name="quantity" value="1" type="hidden" class="hidden"/>
          <input name="id" data-productid="{{ product.id }}" value="{{ product.variants[0].id }}" type="hidden" class="hidden"/>
          <button type="submit" class="btn btn-primary mt-8">
            Add To Cart
          </button>        
        </form>
      </div>
    </div>
</section>

{% schema %}
{
    "name": "Buy Product",
    "presets": [
        {
            "name": "Buy Product"
        }
    ]
}
{% endschema %}
