<header class="bg-white top-0 left-0 w-full sticky z-50">
  <div class="container flex items-center py-8">
    <a href="/">
      <img
        src="{{ section.settings.logo.src | img_url: '128x128' }}"
        alt="{{ shop.name }}"
        height="64"
        width="64"
        class="object-contain"
      />
    </a>
    <nav class="ml-auto lg:flex items-center absolute hidden lg:relative z-50 w-full bg-white top-full left-0" id="mobileMenu">
      <ul class="lg:space-x-4 lg:flex container space-y-4 py-4 lg:py-0 lg:space-y-0 lg:justify-end">
        {% for link in linklists.header.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <a href="{{ routes.cart_url }}" class="h-12 w-12 ml-auto">
      {%- liquid
        if cart == empty
          render 'icon-cart-empty'
        else
          render 'icon-cart'
        endif
      -%}
    </a>
    <button class="block lg:hidden h-6 w-6 ml-6" id="openMobileMenu">
      <span class="icon-open">
        {% render 'icon-hamburger' %}
      </span>
      <span class="icon-close hidden">
        {% render 'icon-close' %}
      </span>
    </button>
  </div>
</header>

<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "label": "Logo",
      "id": "logo"
    }
  ]
}
{% endschema %}